.modal-enter-active[data-v-e28eb1fb],.modal-leave-active[data-v-e28eb1fb]{transition:all .3s cubic-bezier(.16,1,.3,1)}.modal-enter-from[data-v-e28eb1fb],.modal-leave-to[data-v-e28eb1fb]{opacity:0;transform:scale(.95)}
