.slide-enter-active[data-v-0d9cf4b9],.slide-leave-active[data-v-0d9cf4b9]{transition:all .3s ease}.slide-enter-from[data-v-0d9cf4b9],.slide-leave-to[data-v-0d9cf4b9]{opacity:0;transform:translate(-50%,20px)}
