.slide-enter-active[data-v-0ba79309],.slide-leave-active[data-v-0ba79309]{transition:all .3s ease}.slide-enter-from[data-v-0ba79309],.slide-leave-to[data-v-0ba79309]{opacity:0;transform:translate(-50%,20px)}
