.line-clamp-2[data-v-e25987d0]{-webkit-line-clamp:2}.line-clamp-2[data-v-e25987d0],.line-clamp-3[data-v-e25987d0]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-e25987d0]{-webkit-line-clamp:3}
