.line-clamp-2[data-v-65978660]{-webkit-line-clamp:2}.line-clamp-2[data-v-65978660],.line-clamp-3[data-v-65978660]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-65978660]{-webkit-line-clamp:3}
