.slide-enter-active[data-v-41c63914],.slide-leave-active[data-v-41c63914]{transition:all .3s ease}.slide-enter-from[data-v-41c63914],.slide-leave-to[data-v-41c63914]{opacity:0;transform:translate(-50%,20px)}
