.slide-enter-active[data-v-9a347ca2],.slide-leave-active[data-v-9a347ca2]{transition:all .3s ease}.slide-enter-from[data-v-9a347ca2],.slide-leave-to[data-v-9a347ca2]{opacity:0;transform:translate(-50%,20px)}
