.slide-enter-active[data-v-88f14822],.slide-leave-active[data-v-88f14822]{transition:all .3s ease}.slide-enter-from[data-v-88f14822],.slide-leave-to[data-v-88f14822]{opacity:0;transform:translate(-50%,20px)}
