.slide-enter-active[data-v-97eee5c1],.slide-leave-active[data-v-97eee5c1]{transition:all .3s ease}.slide-enter-from[data-v-97eee5c1],.slide-leave-to[data-v-97eee5c1]{opacity:0;transform:translate(-50%,20px)}
