.slide-enter-active[data-v-55d1b61c],.slide-leave-active[data-v-55d1b61c]{transition:all .3s ease}.slide-enter-from[data-v-55d1b61c],.slide-leave-to[data-v-55d1b61c]{opacity:0;transform:translate(-50%,20px)}
